@keyframes fade {
  
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes toTop {
  
  0% {
    opacity: 0%;
    transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes toBottom {
  
  0% {
    opacity: 0%;
    transform: translateY(-10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.page-search {
  padding-top: 55px;
}

.page-search form {
  align-items: center;
  background: #4a808c;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.page-search h2 {
  color: #d88072;
  font-size: 2em;
  font-weight: 100;
  animation: 1s toBottom;
  font-family: tommy;
}

.page-search input {
  border: 0;
  border-radius: 50px;
  height: 25px;
  padding: 10px;
  width: 300px;
  font-weight: 100;
}

.page-search input:focus {
  border: 0;
  outline: 0;
}

.page-search button {
  background-color: white;
  border: 0;
  border-radius: 50px;
  box-shadow: white 0 0 5px;
  color: #4a808c;
  cursor: pointer;
  margin: 10px;
  padding: 5px;
}

.page-search button:hover {
  opacity: 80%;
}

.page-search button:disabled {
  cursor: not-allowed;
  opacity: 50%;
}

.result-title {
  display: flex;
  justify-content: center;
  padding: 80px 20px;
}

.albums {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-row-gap: 40px;
}

.albums section {
  align-items: center;
  background-color: rgb(243, 243, 243);
  display: flex;
  font-size: 0.8em;
  border-radius: 0.5em;
  height: 100px;
  justify-content: space-between;
  padding: 10px;
  width: 300px;
  justify-self: center;
  animation: 0.5s toTop;
  font-family: tommy;
}

.albums section img {
  width: 50px;
  border-radius: 50%;
}

.infos-album {
  display: flex;
  flex-direction: column;
  height: 80px;
  justify-content: space-around;
  width: 210px;
}

.infos-album h4, .infos-album span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.infos-album h4 {
  font-weight: 600;
}

.infos-album span {
  font-weight: 100;
  font-size: 0.9em;
  font-style: italic;
}

.go-to-album {
  background-color: #d88072;
  border-radius: 50px;
  color: white;
  font-size: 0.7em;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 80px;
}

.feedback-search {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -10;
  font-weight: 100;
  font-size: 1em;
  color: #929292;
  font-style: italic;
  animation: fade 1s;
  font-family: tommy;
}
