@keyframes toRight {
  
  0% {
    opacity: 0%;
    transform: translateX(-10px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes toTop {
  
  0% {
    opacity: 0%;
    transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.page-favorites {
  min-height: 100vh;
  background-color: rgb(30, 215, 96);
  padding-top: 55px;
}

.page-favorites h2 {
  color: white;
  font-size: 2em;
  font-weight: 100;
  padding: 40px 20px;
  animation: 1s toRight;
}

.header-favorites {
  padding: 20px;
}

.favorite-musics {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 20px;
  animation: 1s toTop;
}

.image-favorite {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.album-info {
  display: flex;
  padding: 10px;
}
