@media screen and ( max-width : 560px ) {

  .favorite-track-name {
    width: 130px;
  }

  .favorite-artist-name {
    width: 130px;
  }

  .favorite-album-name {
    width: 130px;
  }

  .favorite-musics {
  grid-template-columns: repeat(auto-fill, minmax(90vw, 1fr));

  }
}
