@media screen and (max-width: 768px) {
  .page-login {
    flex-direction: column;
    height: 100%;
  }

  .banner-login {
    width: 100%;
    border-radius: 0;
    height: 100%;
    animation: toBottom 1s;
  }

  .banner-login div {
    width: 100%;
    margin: 0;
    padding: 80px 40px;
  }

  .form-login {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .form-login div {
    width: 80vw;
  }
}
