
@keyframes toTop {
  0% {
    opacity: 0%;
    transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes toBottom {
  0% {
    opacity: 0%;
    transform: translateY(-10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

@keyframes toRight {
  
  0% {
    opacity: 0%;
    transform: translateX(-20px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

.page-login {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.banner-login {
  background-image: url(../images/wallpaper-login.jpg);
  width: 60%;
  border-top-right-radius: 2em;
  border-bottom-right-radius: 2em;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-family: tommy;
  animation: toRight 1s;
}

.banner-login span {
  position: absolute;
  top: 10px;
  left: 10px;
  /* font-size: 0.8em; */
}

.banner-login div {
  padding: 20px;
  width: 40%;
  margin-left: 30%;
}

.banner-login h1 {
  font-size: 2em;
}

.banner-login p {
  margin: 20px 0;
}

.banner-login label {
  padding: 10px 40px;
  border: none;
  background-color: #4a808c;
  color: white;
  font-family: tommy;
  cursor: pointer;
  font-size: 0.8em;
}

.logo-login {
  animation: 1s toBottom;
  width: 30px;
  border-radius: 50%;
  margin: 10px 0;
}

.form-login {
  width: 40%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.form-login div {
  align-items: center;
  display: flex;
  flex-direction: column;
  animation: 1s toTop;
  justify-content: center;
  border: 1px solid #d88072;
  border-radius: 1em;
  padding: 40px;
  box-shadow: 0 0 3px #d88072;
}

.form-login span {
  color: #4a808c;
  margin: 20px;
  font-family: tommy;
}

.form-login input {
  border: 0;
  border-bottom: 1px solid #4a808c;
  height: 25px;
  padding: 10px;
  font-family: tommy;
  font-size: 0.8em;
}

.form-login input:focus {
  border-bottom: 1px solid #4a808c;
  outline: 0;
}

.form-login button {
  background: none;
  border: 0;
  color: white;
  cursor: pointer;
  margin: 20px;
  padding: 8px;
  font-family: tommy;
  background-color: #d88072;
}

.form-login button:hover {
  opacity: 80%;
}

.form-login button:disabled {
  cursor: not-allowed;
  opacity: 50%;
}
