@media screen and ( max-width : 560px ) {

  .logo-header {
    display: none;
  }

  .logo-mobile {
    display: block;
    font-size: 1.5em;
  }

  .mobile-nav {
    align-items: center;
    color: white;
    display: flex;
    font-size: 1.1em;
    text-transform: uppercase;
  }

  .nav {
    display: none;
  }

  .search, .favorites {
    margin: 0 15px;
  }

  .header-image {
    border: 0;
    margin: 0 0 0 10px;
  }

  .header-name {
    display: none;
  }

  .user-view {
    background: none;
    margin-left: 0;
  }
}
