@media screen and ( max-width : 638px ) {

  .album h2 {
    font-size: 1.3em;
  }

  .album h3 {
    font-size: 1em;
  }

  .musics {
    align-items: center;
    flex-direction: column;
  }

  .tracks {
    width: 100vw;
  }

  .music-area {
    font-size: 0.8em;
  }

  .favorite-area {
    padding: 10px;
  }

  .album .music-area span {
    width: auto;
  }
}
