@keyframes toRight {
  0% {
    opacity: 0%;
    transform: translateX(-10px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}

@keyframes toTop {
  0% {
    opacity: 0%;
    transform: translateY(10px);
  }
  100% {
    opacity: 100%;
    transform: translateY(0);
  }
}

.album {
  padding-top: 55px;
}

.header-album {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  width: 100vw;
}

.album h2 {
  color: rgb(30, 215, 96);
  font-size: 2em;
  font-weight: 100;
  animation: toRight 1s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.album h3 {
  color: #929292;
  font-size: 1.3em;
  font-weight: 100;
  animation: toRight 1s;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.musics {
  display: flex;
}

.image-album {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 30%;
  position: relative;
  animation: toRight 1s;
}

.image-album img {
  height: 100px;
  width: 100px;
  position: sticky;
  top: 120px;
}

.tracks {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 70%;
  animation: toTop 1s;
}
