@font-face {
  font-family: tommy;
  src: url(./fonts/made_tommy/MADE\ TOMMY\ Light_PERSONAL\ USE.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  height: 100vh;
}

audio {
  width: 100%;
}
